*.out
compilerbouw.sublime-project
compilerbouw.sublime-workspace
.DS_Store
*.o
*.output
\.*.d
bin/
compiler/doc/
compiler/src/framework/attribs.h
compiler/src/framework/check.c
compiler/src/framework/check.h
compiler/src/framework/check_attribs.h
compiler/src/framework/check_node.c
compiler/src/framework/check_node.h
compiler/src/framework/copy_node.c
compiler/src/framework/copy_node.h
compiler/src/framework/free_attribs.h
compiler/src/framework/free_node.c
compiler/src/framework/free_node.h
compiler/src/framework/new_trav.c
compiler/src/framework/new_trav.h
compiler/src/framework/node_basic.c
compiler/src/framework/node_basic.h
compiler/src/framework/sons.h
compiler/src/framework/traverse_helper.c
compiler/src/framework/traverse_tables.c
compiler/src/framework/traverse_tables.h
compiler/src/framework/types_nodetype.h
compiler/src/framework/types_trav.h
compiler/src/scanparse/civic.lex.c
compiler/src/scanparse/civic.tab.c
compiler/src/scanparse/civic.tab.h

